# Исключение лог-файлов
*.log

# Игнорирование временных файлов
*.tmp
*.swp
*.bak

# Игнорирование директорий node_modules и temp
node_modules/
temp/

# Игнорирование файлов конфигурации среды разработки
.env
.idea/
.vscode/