* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  background-image: url('../assets/backgraund.jpg'); /* Фон для всего экрана */
  background-size: cover; /* Фон заполняет весь экран */
  background-position: center; /* Центрируем фон */
  background-attachment: fixed; /* Фиксируем фон */
  color: #faf2f2;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-direction: column; /* Меняем направление на колонку */
}

header {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* Полупрозрачный фон для шапки */
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

main {
  flex-grow: 1; /* Заставляет main занимать доступную высоту */
  width: 100%;
  max-width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  margin-top: auto; /* Отталкивает футер в самый низ */
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
}

section {
  margin-bottom: 40px;
}

h1, h2 {
  color: #fffefe;
}

a {
  color: #ff7e5f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.container {
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон для улучшения контраста */
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* Ограничиваем максимальную ширину */
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 100%; /* Поля ввода занимают всю ширину контейнера */
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Включаем отступы в общую ширину */
}

textarea {
  min-height: 100px;
  resize: both; /* Это позволяет изменять размер поля по обеим осям */
}

button {
  width: 100%; /* Кнопка растягивается на всю ширину */
  padding: 15px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #feb47b;
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
  main {
    width: 50%;
  }

  .container {
    max-width: 90%; /* Уменьшаем максимальную ширину контейнера на экранах поменьше */
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  input, textarea {
    min-width: 80%; /* Поля ввода растягиваются на 100% ширины контейнера */
  }

  button {
    padding: 12px; /* Меньший отступ для кнопки */
  }
}

@media (max-width: 480px) {
  main {
    width: 90%;
  }

  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.25rem;
  }

  input, textarea {
    min-width: 100%; /* Поля ввода растягиваются на всю ширину */
  }

  button {
    padding: 10px; /* Уменьшаем размер кнопки */
  }
}
