/* Сброс стандартных отступов и настроек браузера */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../assets/backgraund.jpg'); /* Укажите путь к вашему изображению */
  background-size: cover; /* Это растянет изображение на весь экран */
  background-position: center center; /* Центрирует изображение */
  background-attachment: fixed; /* Закрепляет изображение, чтобы оно не прокручивалось */
  height: 100vh; /* Устанавливает высоту экрана */
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  /* background-color: #333; */
  background-color: rgba(51, 51, 51, 0.7); /* Тёмный фон для меню с прозрачностью */
  padding: 10px 0; /* уменьшен отступ сверху и снизу */
  position: fixed; /* фиксируем меню в верхней части */
  top: 0;
  left: 0;
  z-index: 1000; /* обеспечиваем, чтобы меню было всегда сверху */
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

main {
  width: 80%;
  max-width: 900px;
  padding: 20px;
  /* background-color: white; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin-top: 80px; /* добавлен отступ сверху, чтобы не перекрывалось с фиксированным меню */
  border-radius: 10px;
}

section h2 {
  font-size: 2rem;
  color: hwb(0 88% 11%);
  margin-bottom: 30px;
}

.MyFoto {
  text-align: center;
  margin-bottom: 20px;
}

.MyFoto img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.MyFoto figcaption {
  font-size: 1.8rem;
  color: #faf9f9;
  margin-top: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #faf7f7;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}

/* Адаптивность */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .MyFoto img {
    width: 150px;
    height: 150px;
  }
}
