/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 0, 251);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, nav, main, footer {
  padding: 20px;
  margin: 10px;
  background-color: #18cc5a;
  border-radius: 8px;
}

/* Grid Layout for Main Content */
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

/* Styles for Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

@media (max-widht: 768px){
  main {
    grid-template-columns: 1, 1fr
  }
}
