body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6998b9;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки одинаковой ширины */
  grid-template-rows: repeat(3, auto);  /* Три строки с автоматической высотой*/
  gap: 10px; 
  width: 60%;
  background-color: #0f9027;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Элементы сетки */
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db9214;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
