body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

label {
  text-align: left;
  font-size: 14px;
  color: #555;
}

input, textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Обеспечивает, что поля занимают всю ширину контейнера */
  box-sizing: border-box; /* Включает паддинги в расчет ширины */
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

textarea {
  resize: vertical;
  height: 120px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

.form-footer {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}
