* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  background-image: url('../assets/backgraund.jpg'); /* Фон для всего экрана */
  background-size: cover; /* Фон заполняет весь экран */
  background-position: center; /* Центрируем фон */
  background-attachment: fixed; /* Фиксируем фон */
  color: #faf2f2;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;;
}

header {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* Полупрозрачный фон для шапки */
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}


.container {
  background: rgba(0, 0, 0, 0); /* Полупрозрачный черный фон для улучшения контраста */
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* Ограничиваем максимальную ширину */
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%; /* Поля ввода занимают всю ширину контейнера */
  min-width: 200px; /* Минимальная ширина поля */
  max-width: 500px; /* Максимальная ширина поля */
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Включаем отступы в общую ширину */
}

button {
  width: 100%; /* Кнопка растягивается на всю ширину */
  padding: 15px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #feb47b;
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    max-width: 50%; /* Уменьшаем максимальную ширину контейнера на экранах поменьше */
  }

  h1 {
    font-size: 1.5rem;
  }

  input {
    min-width: 80%; /* Поля ввода растягиваются на 100% ширины контейнера */
  }

  button {
    padding: 12px; /* Меньший отступ для кнопки */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.25rem;
  }

  input {
    min-width: 100%; /* Поля ввода растягиваются на всю ширину */
  }

  button {
    padding: 10px; /* Уменьшаем размер кнопки */
  }
}
